{% extends "base.html" %}

{% block title %}
    Instructor &middot; LDAPChat
{% endblock %}

{% block user %} {{ instructor_name }} {% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" style="text-align:center">{{ recent_room.title }}</h3>
			  	</div>
			  	<div class="panel-body">
			  		<div class="row">
			  			<div class="col-md-10 col-md-offset-1">
			  				<div class="panel panel-info">
							  	<div class="panel-heading">
							    	<h3 class="panel-title" style="text-align:center">Broadcast a Message</h3>
							  	</div>
							  	<div class="panel-body">
							    	<form>
							    		<div class="form-group">
							    			<textarea name="broadcast_message" id="broadcast_message" class="form-control" placeholder="Please enter a message to be broadcasted."></textarea>
							    		</div>
							    		<button type="submit" class="btn btn-info" value="broadcast">Broadcast</button>
							    	</form>
							    	<hr>
							    	<strong>Recent Broadcasts</strong>
							    	{% for broad in recent_broadcast %}
							    		<div class="well">
							    			<p>{{ broad }}</p>
							    		</div>
							    	{% endfor %}
							  	</div>
							</div>
			  			</div>
			  		</div>
			    	<hr>
			    	<center>
			    		<a class="btn btn-primary" href="/chat/{{ recent_room.chatroom_id }}"> Join This Chat</a>
			    	</center>
			  	</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" style="text-align:center">Prof. {{ instructor_name }}</h3>
			  	</div>
			  	<div class="panel-body" style="height: 200px; overflow-y: scroll;">
			    	<p>
			    		<strong>Access Level:</strong> {{ access_level }}
			    		<hr>
			    		<strong>Courses</strong>
			    		<ul>
			    		{% for course in courses %}
			    			<li>{{ course }}</li>
			    		{% endfor %}
			    		</ul>
			    	</p>
			  	</div>
			</div>
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" style="text-align:center">Your Chatrooms</h3>
			  	</div>
			  	<div class="panel-body" style="height: 300px; overflow-y: scroll;">
			    	<p>
			    		<center>
				    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add a Chatroom
							</button>
						</center>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  	<div class="modal-dialog">
						    	<div class="modal-content">
						      		<div class="modal-header">
						        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						        		<h4 class="modal-title" id="myModalLabel">Create Chatroom</h4>
						      		</div>
						      		<form action="createchat" method="post">
                                        {% csrf_token %}
						      			<div class="modal-body">
						        			<div class="form-group">
			                                    <input type="text" class="form-control" id="title" name="title" placeholder="Room Name">
			                                </div>
			                                <div class="form-group">
			                                    <input type="text" class="form-control" id="course_id" name="course_id" placeholder="Course">
			                                    <input type="hidden" id="instructor_name" name="instructor_name" value="{{ instructor_name }}">
			                                    <input type="hidden" id="instructor_username" name="instructor_username" value="{{ username }}">
			                                </div>
						      			</div>
							      		<div class="modal-footer">
							        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        		<button type="submit" class="btn btn-primary" value="add">Add</button>
							      		</div>
						      		</form>
						    	</div>
						  	</div>
						</div>	
			    		<hr>
			    		{% for room in chatroom %}
			    		<div class="well">
			    			<a href="/chat/{{ room.chatroom_id }}" id="room{{ room.chatroom_id }}" data-id="{{ room.chatroom_id }}" data-instructorUsername="{{room.instructor_username}}" data-instructorName="{{ room.instructor_name }}"><strong>{{ room.course_id }} &middot; </strong> {{ room.title }}</a>
			    		</div>
			    		{% endfor %}
			    	</p>
			  	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}