<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Networks: Text Chat</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>
      <link rel="shortcut icon" href="http://localhost:8888/favicon.ico?v=2" />
  </head>
  <body>
    <div id="body">
      <div id="inbox">
      </div>
        <form id="roomform">
          <input type="text" name="chatroom" id="chatroom" placeholder="enter room" style="width:300px" />
        </form>
      <div id="input">
        <form id="messageform">
          <input type="text" name="body" id="message" style="width:500px"/>
          <input type="submit" value="Send"/>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>

    </body>

</html>
