{% extends "base.html" %}

{% block title %}
    Student Home &middot; LDAPChat
{% endblock %}

{% block user %} {{ student_name }} {% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" style="text-align:center">Recent Broadcasts</h3>
			  	</div>
			  	<div class="panel-body">
			    	<p>
			    		{% for broad in broadcasts %}
			    			<div class="well">
			    				<strong>{{ broad.chatroom_id.title }} &middot; {{ broad.chatroom_id.instructor_name }} :</strong> {{ broad.message }}
                                <a class="pull-right" href="/chat/{{ broad.chatroom_id.chatroom_id }}">Go to Chat</a>
			    			</div>
			    		{% endfor %}
			    	</p>
			  	</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" style="text-align:center">{{ student_name }}</h3>
			  	</div>
			  	<div class="panel-body" style="height: 200px; overflow-y: scroll;">
			    	<p>
			    		<strong>Access Level:</strong> {{ access_level }}
			    		<hr>
				    		<strong>Courses Registered</strong>
				    		<ul>
				    		{% for course in courses %}
				    			<li>{{ course }}</li>
				    		{% endfor %}
				    		</ul>
			    	</p>
			  	</div>
			</div>
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title" style="text-align:center">Recent Chatrooms</h3>
			  	</div>
			  	<div class="panel-body" style="height: 300px; overflow-y: scroll;">
			    	<p>
                        {% for room in subs_chatrooms %}
			    			<div class="well">
			    				<a href="/chat/{{ room.chatroom_id }}"><strong>{{ room.title }} &middot; </strong> {{ room.course_id}}</a>
                                <a href="/chat/leaveroom/{{ room.chatroom_id }}" class="pull-right">Unsubscribe</a>
			    			</div>
			    		{% endfor %}
			    		{% for room in chatrooms %}
			    			<div class="well">
			    				<a href="/chat/{{ room.chatroom_id }}"><strong>{{ room.title }} &middot; </strong> {{ room.course_id}}</a>
			    			</div>
			    		{% endfor %}
			    	</p>
			  	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}